input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
  border: red 1px solid !important;
}





.php-email-form {
    width: 100%;
  }
.php-email-form .form-group {
    padding-bottom: 8px;
  }

 .php-email-form input,  .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: #0c0b09;
    border-color: #625b4b;
    color: white;
  }
   .php-email-form input::-moz-placeholder,  .php-email-form textarea::-moz-placeholder {
    color: #a49b89;
  }
   .php-email-form input::placeholder,  .php-email-form textarea::placeholder {
    color: #a49b89;
  }
   .php-email-form input:focus,  .php-email-form textarea:focus {
    border-color: #cda45e;
  }
   .php-email-form input {
    height: 44px;
  }
   .php-email-form textarea {
    padding: 10px 12px;
  }
   .php-email-form button[type=submit] {
    background: #cda45e;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
   .php-email-form button[type=submit]:hover {
    background: #d3af71;
  }
 
  