<nav class="navbar navbar-expand-lg fixed-top braon" id="header">
  <div class="container">
  <h1 class="logo me-auto me-lg-0">
    <a routerLink="/" class="zuta">KIMIX'S FOOD</a>
  </h1>
  <p class="zuta d-lg-block d-none text-uppercase fw-bold"><i class="fa-solid fa-star"></i> The best food delivery service <i class="fa-solid fa-star"></i> </p>
  <a routerLink="/cart-page" routerLinkActive="activeLinkColor" class="korpa zuta"
    ><i class="fa-solid fa-cart-shopping korpa"></i>({{ cart.items.length }})</a>
  </div>
</nav>
