<section id="contact" class="contact braon">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2 class="py-4 zuta">Contact</h2>
        <p class="fw-bold py-3 zuta">Contact Us</p>
      </div>
    </div>

    <app-map></app-map>

    <div class="container" data-aos="fade-up">

      <div class="row mt-5">

        <div class="col-lg-4">
          
          <app-info></app-info>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0 py-3">

          <app-form></app-form>

        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->